<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamaliev.notes">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.gamaliev.notes.app.NotesApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Receivers -->
        <receiver android:name=".common.network.NetworkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>


        <!-- Activity -->
        <activity
            android:name="com.gamaliev.notes.list.ListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_list_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gamaliev.notes.item_details.ItemDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_list_details_name"/>

        <activity
            android:name="com.gamaliev.notes.colorpicker.ColorPickerActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:label="@string/activity_color_picker_name"/>

        <activity
            android:name="com.gamaliev.notes.user.UserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_user"/>

        <activity
            android:name="com.gamaliev.notes.user.UserPreferenceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_user_preference"/>

        <activity
            android:name="com.gamaliev.notes.sync.SyncActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_sync"/>

        <activity
            android:name="com.gamaliev.notes.settings.SettingsPreferenceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_settings_preference"/>

        <activity
            android:name="com.gamaliev.notes.conflict.ConflictActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_conflict"/>

    </application>

</manifest>